<div id="about">
    <h1 class="title">About {{restaurant.name}}</h1>
    <div class="about_row">
        <div class="about_column">
            <p>{{restaurant.about}}</p>
            <p>Published in: {{restaurant.publishedYear}}</p>
            <p>Location: {{restaurant.location.city}}, {{restaurant.location.country}}</p>

            <span *ngIf="isLoggedIn()">
                <button class="btn" (click)="update()">Update</button>
                <button class="btn-danger" (click)="delete()">Delete</button>
                <h3 class="error" *ngIf="isError">{{errorMessage}}</h3>
            </span>
        </div>
        <div class="about_column">
            <img src="{{restaurant.logo}}" alt="">
        </div>
    </div>
    <app-dishes [dishes]="restaurant.dishes"></app-dishes>

</div>