<div id="menu-dish">
    <div class="heading">
        <h1>{{dishes.length | custom }}</h1>
        <button *ngIf="isLoggedIn()" class="btn2" (click)="addNewDish()">Add New Dish</button>

    </div>
    <div class="card" *ngFor="let dish of dishes">
        <img src="{{dish.picture}}">
        <div class="details">
            <div class="details-sub">
                <h5>{{dish.title}}</h5>
                <h5 class="price">{{dish.price | currency }} </h5>
            </div>
            <p>
                {{dish.description}}
            </p>
            <span *ngIf="isLoggedIn()">
                <button class="btn" (click)="update(dish._id)">Update</button>
                <button class="btn-danger" (click)="delete(dish._id)">Delete</button>
            </span>
        </div>
    </div>
</div>