.btn2 {
    border-radius: 20px;
    margin: 20px 45px;
    padding: 0 10px;
    /* margin: auto; */
    width: 15%;
}

.btn2 {
    border-radius: 15px;
    color: #fff;
    margin-top: 18px;
    padding: 10px;
}